.hero_wrapper {
  height: 500px;
  overflow: hidden;

  & .container {
    max-width: 1170px;
    margin: 0 auto;

    & .hero_content {
      display: flex;
      justify-content: space-between;
      margin-top: 115px;

      & .text_1 {
        font-size: 32px;
      }
      & .text_2 {
        font-size: 64px;
        font-weight: bold;
        color: rgb(19, 122, 240);
      }
      & .text_3 {
        font-size: 32px;
      }
      & .text_4 {
        font-size: 16px;
        margin-top: 25px;
      }

      & .hero_social {
        display: flex;
        list-style: none;
        margin-top: 25px;
        color: #000;

        & li {
          margin-right: 10px;

          & svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      & .hero_image {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/431855464_826190519268776_5229236989007763765_n.jpg?stp=dst-jpg_s206x206&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG0DKECzvhbo55vRwk2rg4ELfQpyiR6Q54t9CnKJHpDnpnPlEVc0REgmXuLkkfSAm3SRLFblQJqsOfOWVzAfO_B&_nc_ohc=YrYK2-HUtN8AX-ZbboL&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdREymeSsdDNIRZ47vkQKUPScEMJ7_EyELyV3LDEU1jwUA&oe=661401C8");
        background-size: cover;
        background-position: center;
        margin-right: 120px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .hero_wrapper {
    height: auto;

    & .hero_content {
      flex-direction: column;
      margin: 50px 0;
      padding: 20px;

      & .hero_info, & .hero_image {
        width: 100%;
      }

    }

   
  }
}